/* General */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  height: 100vh;
  width: 100vw;
  background-color: hsl(0, 0%, 100%);
  position: relative;
}

/* Miscellanous */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

/* Helpers */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-select {
  user-select: none;
}

/* Main */

#wrapper {
  width: 80vw;
  height: 70vh;
  flex-direction: column;
  z-index: 1;
}

#top {
  width: 100%;
  height: 50%;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 2;
}

#bottom {
  width: 100%;
  height: 50%;
  z-index: 2;
  align-items: flex-end;
}

/* Header */

#header {
  width: 40%;
  height: 85%;
  flex-direction: column;
  z-index: 3;
}

.heading {
  font-size: 3em;
  color: hsl(300, 43%, 22%);
  margin-bottom: 1em;
  line-height: 1;
  z-index: 4;
}

.heading-paragraph {
  color: hsl(303, 10%, 53%);
  line-height: 1.7;
  font-weight: 500;
  z-index: 4;
}

/* Ratings */

#ratings {
  width: 45%;
  height: 80%;
  flex-direction: column;
  z-index: 3;
  transform: translateY(10%);
}

.rating {
  position: relative;
  background-color: hsl(300, 24%, 96%);
  color: hsl(300, 43%, 22%);
  border-radius: 10px;
  height: 50%;
  width: 80%;
  transition: all 0.5s;
  z-index: 4;
  margin-bottom: 3%;
}

.rating:nth-of-type(1):hover {
  transform: scale(1.05);
}

.rating:nth-of-type(2) {
  transform: translateX(10%);
}

.rating:nth-of-type(2):hover {
  transform: translateX(10%) scale(1.05);
}

.rating:nth-of-type(3) {
  transform: translateX(20%);
}
.rating:nth-of-type(3):hover {
  transform: translateX(20%) scale(1.05);
}

.rated {
  position: absolute;
  left: 50%;
  z-index: 5;
}

.stars {
  position: absolute;
  left: 10%;
  width: 30%;
  z-index: 5;
  justify-content: space-around;
}

.stars img {
  transition: all 0.5s;
}

.stars img:hover {
  transform: rotate(180deg);
}

/* Opinions */

#opinions {
  width: 100%;
  height: 90%;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 3;
}

.opinion-wrapper {
  width: 42vmin;
  height: 28vmin;
  border-radius: 10px;
  background-color: hsl(300, 43%, 22%);
  transition: all 0.5s;
  z-index: 4;
}

.opinion-wrapper:nth-of-type(2) {
  transform: translateY(5%);
}
.opinion-wrapper:nth-of-type(3) {
  transform: translateY(10%);
}

.opinion-wrapper:hover {
  transform: translateY(-10%);
}

.opinion {
  width: 80%;
  height: 80%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  z-index: 4;
}

.id {
  width: 65%;
  height: 30%;
  justify-content: flex-start;
}

.portrait {
  border-radius: 50%;
  height: 80%;
  margin-right: 2ch;
  z-index: 5;
}

.name {
  color: hsl(300, 24%, 96%);
  margin-bottom: 1ch;
  z-index: 5;
}

.verified {
  color: hsl(333, 80%, 67%);
  font-size: 0.8rem;
  z-index: 5;
}

.quote {
  color: hsl(300, 24%, 96%);
  font-size: 0.8rem;
  line-height: 1.7;
  z-index: 5;
}

/* Pattern */

.pattern {
  position: absolute;
  z-index: 1;
}

.top-left {
  top: 0;
  left: 0;
  width: 40vw;
}
.bottom-right {
  bottom: 0;
  right: 0;
  width: 80vw;
}

/* Attribution */

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 1%;
  right: 50%;
  transform: translateX(50%);
  z-index: 2;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
